.input,
.submit {
  box-sizing: border-box;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  margin: .5rem 0 0 0;
}

.input,
.textarea,
.select {
  background: $color-input;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px $color-input-border;
  font: inherit;
}

.input:focus,
.textarea:focus,
.select:focus {
  border: solid 1px $color;
  outline: none;
}

.submit {
  color: $color-text-light;
  background: $color;
  padding: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background: $color-light;
  outline: none;
}

.select {
  padding: .5rem;
}
