@import 'theme';
@import 'fonts';
@import 'panels';
@import 'inputs';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $color-text;
  margin: 0;
  font-family: $font;
}

::selection {
  color: $color-select-text;
  background: $color-select;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  outline: none;
  text-decoration: underline;
}

@import '../tags/gen/gen';
